@import "tailwindcss";



.correct {
  background-color: #4ade80 !important;
  border-color: #16a34a !important;
  color: white !important;
}

.wrong {
  background-color: #f87171 !important;
  border-color: #dc2626 !important;
  color: white !important;
}